        <div class="logo">
            <div class="pacman">
                <div class="pacman-circle">
                    <div class="pacman-eye"></div>
                </div>
                <div class="pacman-mouth"></div>
            </div>

            <div class="name u">
                <p>F</p>
            </div>
            <div class="name one">
                <p>L</p>
            </div>
            <div class="name zero">
                <p>A</p>
            </div>
            <div class="name u">
                <p>S</p>
            </div>
            <div class="name one">
                <p>H</p>
            </div>
            <div class="name zero">
                <p>C</p>
            </div>
            <div class="name u">
                <p>A</p>
            </div>
            <div class="name one">
                <p>R</p>
            </div>
            <div class="name zero">
                <p>D</p>
            </div>
            <div class="name u">
                <p>S</p>
            </div>
        </div>