<h3 class="deck-title"></h3>
<div class="text">
    <p>{{this.question}}</p>
</div>
<div class="buttons-group">
    <button class="scroll" type="submit" data-yes>Yes</button>
    <button class="scroll" type="submit" data-no>No</button>
</div>
