        {{>gametitle}}
        <h3 class="deck-title">{{this.deck}}</h3>
        <div class="text">
            <p>You've completed a round of {{this.deck}}. You answered {{score}}/??? cards correctly on the first try. You submitted {{}} total guesses before each card was answered correctly</p>
        </div>